<form method="post" action="{{ path('pointages_delete', {'id': pointage.id}) }}" onsubmit="return confirm('Vous voulez supprimer le pointage?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pointage.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
