<form method="post" action="{{ path('chantiers_delete', {'id': chantier.id}) }}" onsubmit="return confirm('Vous voulez supprimer le chantier?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chantier.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
