<form method="post" action="{{ path('utilisateurs_delete', {'id': utilisateur.id}) }}" onsubmit="return confirm('Vous voulez supprimer l'utilisateur?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ utilisateur.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
